flow.json
[{"id":"c69d29.1b0cb2d8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"94e39fd2.6960f","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"88aa5ca.9b081a","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cded6c87.bb647","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.80","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52ca2ce0.4da9d4","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ffb5dd6e.489888","type":"influxdb","z":"94e39fd2.6960f","hostname":"192.168.43.80","port":"8086","protocol":"http","database":"myData","name":"","usetls":false,"tls":""},{"id":"b44675ec.06cbe","type":"mqtt out","z":"c69d29.1b0cb2d8","name":"","topic":"","qos":"","retain":"","broker":"cded6c87.bb647","x":670,"y":140,"wires":[]},{"id":"c06e2795.d760a","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":140,"wires":[["b44675ec.06cbe"]]},{"id":"139f997a.270f97","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER1","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":180,"wires":[["b44675ec.06cbe"]]},{"id":"ad23aa4e.6993d8","type":"mqtt in","z":"c69d29.1b0cb2d8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"cded6c87.bb647","x":310,"y":540,"wires":[["129f7204.015fd6"]]},{"id":"129f7204.015fd6","type":"debug","z":"c69d29.1b0cb2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":540,"wires":[]},{"id":"8bcb2ebe.a64c78","type":"mqtt in","z":"c69d29.1b0cb2d8","name":"","topic":"stat/OfficeLights/#","qos":"2","datatype":"auto","broker":"cded6c87.bb647","x":350,"y":600,"wires":[["77fd8275.90a2cc"]]},{"id":"77fd8275.90a2cc","type":"debug","z":"c69d29.1b0cb2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"c0d341a4.279be","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER2","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":240,"wires":[["b44675ec.06cbe"]]},{"id":"262203ec.4497fc","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER2","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":280,"wires":[["b44675ec.06cbe"]]},{"id":"63faa13d.0ee958","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER3","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":340,"wires":[["b44675ec.06cbe"]]},{"id":"7c57a6d3.aeea98","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER3","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":380,"wires":[["b44675ec.06cbe"]]},{"id":"600d822d.3f4594","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER4","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":440,"wires":[["b44675ec.06cbe"]]},{"id":"667b19ba.e13bf","type":"inject","z":"c69d29.1b0cb2d8","name":"","topic":"cmnd/OfficeLights/POWER4","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":480,"wires":[["b44675ec.06cbe"]]},{"id":"3de69eac.1ad29a","type":"debug","z":"94e39fd2.6960f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":140,"wires":[]},{"id":"f40d1ec2.81188","type":"serial in","z":"94e39fd2.6960f","name":"Moteino Gateway","serial":"52ca2ce0.4da9d4","x":160,"y":180,"wires":[["498f7324.eee984","3de69eac.1ad29a"]]},{"id":"498f7324.eee984","type":"function","z":"94e39fd2.6960f","name":"Parse RFM69, send MQTT and set Global Variables","func":"var mqtt = context.global.mqttModule;\noptions={\nclientId:\"ParseSensors\",\nusername:\"admin\",\npassword:\"fish4021\",\nclean:true};\nvar mqttClient = mqtt.connect('mqtt://localhost', options);\nmqttClient.subscribe(\"sensors\");\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nmsg.payload = msg.payload.trim();\n\n//var measurement = msg.payload.substring(0, 3);\n//msg.measurement=measurement;\n//outTopicStart = 'sensors/' + measurement + '/';\n\nvar result = {};\n\n\ntokens = msg.payload.split(' ');\nmsg.payload = \"\";\n\n//var measurement_ARR = tokens[0];\n//var measurenment_ARR1 = measurement_ARR.split(':');\n//var measurement = measurenment_ARR1[1];\nvar measurement = tokens[0];\n\n//Only Process Data if We are in Valid Range\nif (isNaN(measurement) || (0 > measurement) && (measurement > 256)) {\n    node.warn(\"Not a Valid Node, skipping\");\nreturn 0;\n}\n\nmsg.measurement = measurement;\noutTopicStart = 'sensors/' + measurement + '/';\n//node.warn(\"Measurement\");\n//node.warn(measurement);\n\ntokens.shift();\n\ntokens.forEach(myFunction);\n\n//Original myFunction\n//function myFunction(item) {var arr = item.split(':');\n//mqttClient.publish(outTopicStart + arr[0] , arr[1]);\n//global.set(measurement + '_' + arr[0],parseFloat(arr[1]));\n//      result[arr[0]] = parseFloat(arr[1])\n//}\n\n\n//Modify this to Ignore NaN\nfunction myFunction(item) {var arr = item.split(':');\n\nif (isNaN(arr[1])) {\n    node.warn(\"Not a Number in Field, skipping this record\");  //todo print more details - node & measurement\nreturn 0;\n}\n\nmqttClient.publish(outTopicStart + arr[0] , arr[1]);\nglobal.set(measurement + '_' + arr[0],parseFloat(arr[1]));\n      result[arr[0]] = parseFloat(arr[1])\n}\n\n\n\nmqttClient.end();\nmsg.payload=result;\nreturn msg;\n","outputs":"1","noerr":0,"x":490,"y":180,"wires":[["3797de51.251fd2","499ad28d.57c144"]]},{"id":"3797de51.251fd2","type":"influxdb out","z":"94e39fd2.6960f","influxdb":"ffb5dd6e.489888","name":"","measurement":"","precision":"","retentionPolicy":"","x":940,"y":180,"wires":[]},{"id":"499ad28d.57c144","type":"debug","z":"94e39fd2.6960f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":140,"wires":[]},{"id":"386c9f72.a85168","type":"comment","z":"94e39fd2.6960f","name":"Receive RF69 Radio Data on Serial from Moteino, Broadcast on MQTT and Store in InfluxDB","info":"","x":400,"y":100,"wires":[]}]